/* Zeroing. Common parameters */

@import "null";

/* Variables */
@import "variables";

/* CONNECTING UI FILES OF PAGE STYLES AND ELEMENTS */
@import "ui";

/* MAIN UNIT */

body {
  background: $grayLighten1;
}

.credit-page {
  height: 100%;
  width: 100%;

  &__container {
    max-width: 500px;
    margin: 0 auto;
  }

  @media screen and (max-width: 500px) {
    &__container {
      padding: 0 10px;
      max-width: none;
    }
  }
}

.credit-calculator {
  padding: 20px 0;

  &__wrapper {
    padding: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    background: #fff;
    box-shadow: 2px 2px 15px rgb(128 142 184 / 30%);
    border-radius: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  &__get-credit {
    text-align: end;

    button {
      display: inline-block;
      padding: 13px 30px;
      background-color: $burgundyLighten2;
      color: $blueLighten1;
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 1.4px;
      border-radius: 5px;
      text-transform: uppercase;
      position: relative;

      &::after {
        @include after-effect-btn(0);
        transition: all 0.2s;
      }

      &:hover::after {
        opacity: 1;
      }

      &:disabled::after {
        @include after-effect-btn(1);
      }
    }
  }

  &__repayment-amount {
    background: #fff;
    box-shadow: 2px 2px 15px rgb(128 142 184 / 30%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
  }

  &__repayment-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__daily-amount, &__total-amount {
    font-size: 16px;
    font-weight: 500;
    text-align: end;

    span {
      font-weight: 700;
    }
  }

  &__total-amount {
    margin-top: 10px;
  }
}

input {
  position: relative;
  padding: 12px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: $blueDarken;
  font-size: 16px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: $blueDarken;
}

.input-error {
  display: none;
  color: $burgundyLighten1;
  margin-top: 10px;
}

.form-error {
  input {
    border-color: $burgundyLighten1 !important;
    outline: $burgundyLighten1 !important;
  }
}
