/* Zeroing. Common parameters */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-size: 14px;
}

ul,
li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section {
  display: block;
}

/* Variables */
/* CONNECTING UI FILES OF PAGE STYLES AND ELEMENTS */
/* MAIN UNIT */
body {
  background: #F5F5F5;
}

.credit-page {
  height: 100%;
  width: 100%;
}
.credit-page__container {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .credit-page__container {
    padding: 0 10px;
    max-width: none;
  }
}

.credit-calculator {
  padding: 20px 0;
}
.credit-calculator__wrapper {
  padding: 10px;
}
.credit-calculator__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.3);
  border-radius: 10px;
}
.credit-calculator__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.credit-calculator__get-credit {
  text-align: end;
}
.credit-calculator__get-credit button {
  display: inline-block;
  padding: 13px 30px;
  background-color: #EC5863;
  color: #FCFDFE;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1.4px;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
}
.credit-calculator__get-credit button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.2s;
}
.credit-calculator__get-credit button:hover::after {
  opacity: 1;
}
.credit-calculator__get-credit button:disabled::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 1;
}
.credit-calculator__repayment-amount {
  background: #fff;
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}
.credit-calculator__repayment-title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.credit-calculator__daily-amount, .credit-calculator__total-amount {
  font-size: 16px;
  font-weight: 500;
  text-align: end;
}
.credit-calculator__daily-amount span, .credit-calculator__total-amount span {
  font-weight: 700;
}
.credit-calculator__total-amount {
  margin-top: 10px;
}

input {
  position: relative;
  padding: 12px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: #21243D;
  font-size: 16px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #21243D;
}

.input-error {
  display: none;
  color: #f57f6c;
  margin-top: 10px;
}

.form-error input {
  border-color: #f57f6c !important;
  outline: #f57f6c !important;
}

/*# sourceMappingURL=style.css.map */
